
<!DOCTYPE html>
<html>
<head>


	<script src = "https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script>

(function() {
  let api
  htmx.defineExtension('hx-noformdata', {
    init: function(apiRef) {
      api = apiRef
    },

    onEvent: function(name, evt) {
      if (name === 'htmx:configRequest') {
        evt.detail.headers['Content-Type'] = 'application/json'
      }
    },

    encodeParameters: function(xhr, parameters, elt) {
      xhr.overrideMimeType('text/json')

      const vals = api.getExpressionVars(elt)
      return (JSON.stringify(vals))
    }
  })
})()
</script>
	<script>
        document.addEventListener('htmx:beforeHistorySave', (evt) => {
            document.querySelectorAll('[x-for]').forEach((item) => {
                item._x_lookup && Object.values(item._x_lookup).forEach((el) => el.remove())
            })
            document.querySelectorAll('[x-if]').forEach((item) => {
                item._x_currentIfEl && item._x_currentIfEl.remove()
            })
        })
</script>

	<meta charset="utf-8" />
	<title>Conduit</title>
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

	<!-- Import the custom Bootstrap 4 theme from our hosted CDN -->
	<link rel = "stylesheet" href="./main.css" />
  

</head>
<body>
    <div  class="home-page"> <div  class="banner"> <div  class="container"> <h1  class="logo-font"> conduit</h1>
<p > A place to share your knowledge.</p>
</div>
</div>
<div  class="container page"> <div  class="row"> <div  class="col-md-9"> <div  class="feed-toggle"> <ul  class="nav nav-pills outline-active"> <li  class="nav-item"> <a  class="nav-link active" href="/globalfeed"> Global Feed</a>
</li>
</ul>
</div>
<div  id="pagecounter"> <div  class="article-preview"> <div  class="article-meta"> <a  href="/profile/user4"> <img  src="https://i.stack.imgur.com/xHWG8.jpg"> </img>
</a>
<div  class="info"> <a  href="/profile/user4" class="author"> user4</a>
<span  class="date"> 11/22/2024 2:09:54 AM</span>
</div>
<button  class="btn btn-outline-primary btn-sm pull-xs-right" hx-get="/login" hx-swap="innerHTML" hx-target="#appbody"> <i  class="ion-heart"> 2</i>
</button>
</div>
<a  href="/article/46e5242b-d14e-40fa-b92a-ab907665373f" class="preview-link"> <h1 > Bibendum, congue ligula, maximus mauris neque, malesuada inceptos posuere congue, arcu.</h1>
<p > Eros, nisl aliquam arcu, felis ante, hendrerit mattis, et, porttitor.</p>
<span > Read more...</span>
<ul  class="tag-list"> </ul>
</a>
</div>
<div  class="article-preview"> <div  class="article-meta"> <a  href="/profile/user4"> <img  src="https://i.stack.imgur.com/xHWG8.jpg"> </img>
</a>
<div  class="info"> <a  href="/profile/user4" class="author"> user4</a>
<span  class="date"> 10/10/2024 3:00:54 AM</span>
</div>
<button  class="btn btn-outline-primary btn-sm pull-xs-right" hx-get="/login" hx-swap="innerHTML" hx-target="#appbody"> <i  class="ion-heart"> 1</i>
</button>
</div>
<a  href="/article/79565810-956b-41d4-b264-643d7c874c45" class="preview-link"> <h1 > Nulla, phasellus sem tortor facilisis.</h1>
<p > Mattis, nisi, maecenas finibus, sed, habitasse ex, pulvinar, sociosqu.</p>
<span > Read more...</span>
<ul  class="tag-list"> <li  class="tag-default tag-pill tag-outline"> Sagittis</li>
<li  class="tag-default tag-pill tag-outline"> Et</li>
<li  class="tag-default tag-pill tag-outline"> Semper</li>
<li  class="tag-default tag-pill tag-outline"> Libero</li>
</ul>
</a>
</div>
<div  class="article-preview"> <div  class="article-meta"> <a  href="/profile/user4"> <img  src="https://i.stack.imgur.com/xHWG8.jpg"> </img>
</a>
<div  class="info"> <a  href="/profile/user4" class="author"> user4</a>
<span  class="date"> 11/10/2024 10:56:54 PM</span>
</div>
<button  class="btn btn-outline-primary btn-sm pull-xs-right" hx-get="/login" hx-swap="innerHTML" hx-target="#appbody"> <i  class="ion-heart"> 0</i>
</button>
</div>
<a  href="/article/f68183b7-8959-46d3-b9c4-7b3c74b128b5" class="preview-link"> <h1 > Eleifend molestie ornare sagittis, vestibulum, sed.</h1>
<p > Pulvinar cursus, molestie lorem, luctus tincidunt accumsan conubia ante erat quis tellus.</p>
<span > Read more...</span>
<ul  class="tag-list"> <li  class="tag-default tag-pill tag-outline"> Nisi</li>
<li  class="tag-default tag-pill tag-outline"> Nec</li>
</ul>
</a>
</div>
<div  class="article-preview"> <div  class="article-meta"> <a  href="/profile/albert-pai"> <img  src="https://i.imgur.com/N4VcUeJ.jpg"> </img>
</a>
<div  class="info"> <a  href="/profile/albert-pai" class="author"> albert-pai</a>
<span  class="date"> 11/14/2024 6:30:54 PM</span>
</div>
<button  class="btn btn-outline-primary btn-sm pull-xs-right" hx-get="/login" hx-swap="innerHTML" hx-target="#appbody"> <i  class="ion-heart"> 0</i>
</button>
</div>
<a  href="/article/82f6ef3a-dc80-4601-94ec-8000c2f6e750" class="preview-link"> <h1 > Congue, neque, auctor id massa, purus nibh placerat, nec, nisi.</h1>
<p > Etiam taciti interdum convallis augue mauris dapibus curabitur donec blandit.</p>
<span > Read more...</span>
<ul  class="tag-list"> <li  class="tag-default tag-pill tag-outline"> Sagittis</li>
</ul>
</a>
</div>
<div  class="article-preview"> <div  class="article-meta"> <a  href="/profile/user4"> <img  src="https://i.stack.imgur.com/xHWG8.jpg"> </img>
</a>
<div  class="info"> <a  href="/profile/user4" class="author"> user4</a>
<span  class="date"> 11/18/2024 5:27:54 PM</span>
</div>
<button  class="btn btn-outline-primary btn-sm pull-xs-right" hx-get="/login" hx-swap="innerHTML" hx-target="#appbody"> <i  class="ion-heart"> 0</i>
</button>
</div>
<a  href="/article/7b0eef0b-70a1-4e33-b079-5bad7fda56eb" class="preview-link"> <h1 > Per augue suspendisse faucibus inceptos magna, ligula consectetur taciti facilisis primis.</h1>
<p > Auctor lorem, iaculis odio nunc mauris, suscipit.</p>
<span > Read more...</span>
<ul  class="tag-list"> <li  class="tag-default tag-pill tag-outline"> Sagittis</li>
</ul>
</a>
</div>
<ul  class="pagination"> <li  class="page-item active"> <a  class="page-link"> 1</a>
</li>
<li  class="page-item"> <a  class="page-link" hx-post="/article/pager" href="/article/pager" hx-push-url="true" hx-ext="hx-noformdata" hx-vals='{"PageNumber":2,"FeedType":1,"Tag":null}'  hx-target="#pagecounter" hx-swap="outerHTML"> 2</a>
</li>
</ul>
</div>
</div>
<div  class="col-md-3"> <div  class="sidebar"> <p > Popular Tags</p>
<div  class="tag-list"> <a  class="tag-pill tag-default" href="/tagfeedNisi"> Nisi</a>
<a  class="tag-pill tag-default" href="/tagfeedFermentum"> Fermentum</a>
<a  class="tag-pill tag-default" href="/tagfeedSagittis"> Sagittis</a>
<a  class="tag-pill tag-default" href="/tagfeedSagittis"> Sagittis</a>
<a  class="tag-pill tag-default" href="/tagfeedNec"> Nec</a>
<a  class="tag-pill tag-default" href="/tagfeedEt"> Et</a>
<a  class="tag-pill tag-default" href="/tagfeedSemper"> Semper</a>
<a  class="tag-pill tag-default" href="/tagfeedNostra"> Nostra</a>
<a  class="tag-pill tag-default" href="/tagfeedSagittis"> Sagittis</a>
<a  class="tag-pill tag-default" href="/tagfeedSagittis"> Sagittis</a>
</div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>
